.product-info {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.product-details {
    display: flex;
    width: 100%;
    max-width: 80%;
    margin: 20px 0;
}

.imageContainer {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    margin-right: 50px;
    align-items: center;
}

.imageContainer img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.otherProductInfoContainer {
    flex: 0 0 60%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-info h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.product-info p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.buyingSection {
    height: 15%;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.quantity-input {
    width: 60px;
    margin-right: 10px;
    padding: 5px;
    font-size: 1rem;
}

.product-description {
    max-width: 1200px;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 20px;
}

.quantity-input {
    height: 40%; /* Increased height */
    margin-right: 10px;
    padding: 5px;
    font-size: 1.2rem; /* Increased font size */
}

.buyingSection .ant-btn {
    height: 40%; /* Increased height */
    font-size: 1.2rem; /* Increased font size */
    padding: 0 20px; /* Increased padding */
}
